{% extends 'base.html.twig' %}

{% block title %}Fonction index{% endblock %}

{% block header %}
<div id="header" class="large-12 flex j-between a-center">
    <div class="logo"><img src="{{ asset('images/logo.png') }}" alt="logo de Wakdo"></div>
    <nav class="flex j-center gap16">
        <a href="{{path('app_collaborateur_index')}}"><button class="back-button pad-button b-none round8">Collaborateurs</button></a>
        <a href="{{path('app_restaurant_index')}}"><button class="back-button pad-button b-none round8">Restaurants</button></a>
        <a href="{{path('app_affectation_index')}}"><button class="back-button pad-button b-none round8">Affectations</button></a>
    </nav>
    <a href="{{path('app_logout')}}"><button class="back-two pad-button b-none round8">Déconnexion</button></a>
</div>
{% endblock %}

{% block body %}
<div>
    <h1 class="txt-center mb32">Fonction index</h1>
    <div class="mt16 mb8">
        <a href="{{ path('app_fonction_new') }}">Create new</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Poste</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fonction in fonctions %}
            <tr>
                <td>{{ fonction.poste }}</td>
                <td>
                    <a href="{{ path('app_fonction_edit', {'id': fonction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
